<h1><%= @publication.title %></h1>
<%= render 'shared/errors', obj: @publication %>
<%= form_with model: @publication, local: true do |f| %>
  <%= render 'fields', f: f %>
  <%= f.submit "Update" %>
<% end %>
<% if @publication.published? %>
  <% if @publication.deployed? %>
    <%= link_to "Visit site", @publication.url %>
  <% else %>
    <span>Publishing...</span>
  <% end %>
<% else %>
  <%= link_to "Publish", publication_publishings_url(@publication), method: :post %>
<% end %>
<%= link_to "Delete", publication_url(@publication), method: :delete, data: { confirm: "Are you sure?" } %>
